h1 a {
    color: #AE95DE;
    font-family: 'Lobster';
} 
body {
background-image: url("http://az616578.vo.msecnd.net/files/2017/04/01/636266792266656453-1680936052_5fdfb649fee90b18ac9535bfc66ca5b7.jpg")      
}